[submodule "src/js/modules/js_xhr_ajax"]
	path = src/js/modules/js_xhr_ajax
	url = https://github.com/liledix4/js_xhr_ajax
[submodule "src/js/modules/js_url"]
	path = src/js/modules/js_url
	url = https://github.com/liledix4/js_url
