@font-face {
	font-family: "Exo 2";
	src: url("fonts/Exo 2/Exo2-Regular.ttf");
	font-style: normal;
	font-weight: normal;
	}
@font-face {
	font-family: "Exo 2";
	src: url("fonts/Exo 2/Exo2-Italic.ttf");
	font-style: italic;
	}
@font-face {
	font-family: "Exo 2";
	src: url("fonts/Exo 2/Exo2-Bold.ttf");
	font-weight: bold;
	}
@font-face {
	font-family: "Exo 2";
	src: url("fonts/Exo 2/Exo2-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
	}
@font-face {
	font-family: "Exo 2";
	src: url("fonts/Exo 2/Exo2-ExtraLight.ttf");
	font-weight: 100;
	}
@font-face {
	font-family: "Exo 2";
	src: url("fonts/Exo 2/Exo2-ExtraLightItalic.ttf");
	font-weight: 100;
	font-style: italic;
	}


*, :before, :after {
	box-sizing: border-box;
}


body {
	margin: 0;
	font-family: "Exo 2";
	margin-left: 300px;
	background: url('../img/main/bg.png') fixed no-repeat center center;
	background-size: cover;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
	}
body.animation > * {
	animation: body-show-back .4s 1;
	opacity: 1;
	}
body.show-bg {
	cursor: pointer;
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	}
body.show-bg > * {
	display: none;
	}
body.show-bg-animation > * {
	animation: body-show-bg .4s 1;
	opacity: 0;
	}


div[style*='display:block !important'],
div[style*='display: block !important'] {
	right: -1000% !important;
	}
div[style*='display:block !important'] *,
div[style*='display: block !important'] * {
	display: none !important;
	}


/* ============================= */


.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	max-height: 95%;
	width: 300px;
	overflow: auto;
	overflow-x: hidden;
	z-index: 1;
	background: rgba(255, 255, 255, .95);
	box-shadow: 10px 0 20px rgba(0, 0, 0, .3);
	border-bottom-right-radius: 10px;
	}


.sidebar .image {
	position: relative;
	display: flex;
	width: 100%;
	text-align: center;
	background-size: cover;
	font-size: 14px;
	transition: all .2s;
	}
.sidebar .image img {
	object-fit: contain;
	width: 100%;
	}


.sidebar .text-title {
	margin: 20px 0;
	text-align: center;
	}
.sidebar .text-title .big {
	font-size: 22pt;
	font-weight: bold;
	}


.sidebar .links {
	position: relative;
	display: flex;
	padding: 0 10px;
	margin-bottom: 10px;
	}
.sidebar .links a {
	position: relative;
	display: block;
	vertical-align: top;
	padding: 10px;
	text-decoration: none;
	transition: all .2s;
	width: 100%;
	max-width: 68px;
	border-radius: 10px;
	}
.sidebar .links a:hover {
	background: rgb(0, 100, 200);
	box-shadow: 0 10px 20px rgb(0, 100, 200);
	z-index: 1;
	}
.sidebar .links a img {
	object-fit: contain;
	height: 100%;
	height: 100%;
	width: 100%;
	transition: all .2s;
	}
.sidebar .links a:hover img {
	filter: drop-shadow(0 2px 4px rgba(255, 255, 255, .5));
	}


.sidebar .email {
	border-top: 1px solid rgba(0, 0, 0, .1);
	margin: 0 20px;
	padding: 20px 0;
	text-align: center;
	}
.sidebar .email a {
	color: rgb(0, 100, 200);
	border-radius: 4px;
	transition: all .2s;
	}
.sidebar .email a:hover {
	background: rgb(0, 100, 200);
	box-shadow: 0 5px 15px rgba(0, 100, 200, .5);
	color: white;
	padding: 3px 5px;
	margin: 0 -5px;
	text-decoration: none;
	}


/* ============================= */


.content {
	padding: 22px;
	text-align: center;
	}


.card {
	position: relative;
	display: inline-block;
	background: rgba(255, 255, 255, .95);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
	border-radius: 10px;
	width: 800px;
	max-width: 100%;
	padding: 20px;
	margin: 22px;
	vertical-align: top;
	text-align: left;
	}
.card :first-child {
	margin-top: 0;
	padding-top: 0;
	}
.card :last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	}
.card iframe.full-width {
	width: 100%;
	}


.card#show-bg {
	text-align: center;
	cursor: pointer;
	transition: all .2s;
	font-size: 18pt;
	font-weight: bold;
	color: rgb(0, 100, 200);
	}
.card#show-bg:hover {
	color: white;
	background: rgb(0, 100, 200);
	}
.card#show-bg:before {
	content: '';
	position: relative;
	display: block;
	background: url('../img/main/bg.png') no-repeat center center;
	background-size: cover;
	max-width: 300px;
	height: 180px;
	margin: 0 auto 20px;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
	}


@media all and (max-width: 1200px) {
	.card {
		margin-left: auto;
		margin-right: auto;
		}
	}
@media all and (max-width: 1000px) {
	body {
		margin-left: 0;
		}
	.sidebar {
		position: relative;
		top: auto;
		left: auto;
		bottom: auto;
		max-height: none;
		width: 100%;
		box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
		border-bottom-left-radius: 10px;
		}
	.sidebar .image {
		width: 300px;
		float: left;
		margin-right: 20px;
		}
	.sidebar .text-title {
		text-align: left;
		padding: 0 20px;
		}
	.sidebar .links {
		padding: 0;
		left: -10px;
		}
	.sidebar .email {
		text-align: left;
		}
	}
@media all and (max-width: 700px) {
	.sidebar .image {
		width: 100%;
		float: none;
		margin: 0;
		}
	.sidebar .text-title {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: linear-gradient(180deg, rgba(0,0,0,.9), rgba(0,0,0,.6), transparent);
		text-align: left;
		color: white;
		padding: 10px 20px;
		margin: 0;
		text-shadow: 0 5px 10px black;
		z-index: 2;
		}
	.sidebar .links {
		justify-content: center;
		padding: 0 10px;
		left: 0;
		margin-top: 10px;
		}
	.sidebar .email {
		text-align: center;
		}
	}


@keyframes body-show-bg {
	from {opacity: 1;}
	}
@keyframes body-show-back {
	from {opacity: 0;}
	}