.smaller-text {
    font-size: .75em;
}
.level0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px 10px;
    width: 800px;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    overflow-wrap: anywhere;
    transform-origin: 100% 50%;
    transition: all .4s;
    animation: level0 2s 1 cubic-bezier(.44,1,.44,1);
}
body.loading .level0 {
    animation: none;
    opacity: 0;
    z-index: -1;
}
@keyframes level0 {
    0% {
        opacity: 0;
        transform: scale(0) rotateY(-180deg);
        transform-origin: 50% 50%;
    }
}
.level1 {
    border: 4px dashed #ffffff11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    transition: all .4s;
}
.level2 {
    border: 4px solid #ffffff22;
    background-color: #ffffff11;
    padding: 10px;
}
.level3 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.level4 {
    background-color: #ffffff11;
    padding: 5px 10px;
    text-align: left;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.level4 > * {
    width: 100%;
}
.level4 > .title {
    font-weight: bold;
    width: 50%;
}
.level4 .version {
    font-size: 2em;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
/* .level4 .version:not(:last-child) {
    margin-bottom: 5px;
} */
.level4 .version > .icon {
    background-color: #ffffff11;
    min-height: 48px;
    max-height: 48px;
    min-width: 48px;
    max-width: 48px;
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: center center;
}
.level4 .version > .icon.clock {
    background-image: url('schedule_96dp_FFFFFF.svg');
}
.level4 .version > .icon.goal {
    background-image: url('sports_score_96dp_FFFFFF.svg');
}
.level4 .version > .text {
    margin-top: -2px;
}
.level5 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.level5 > * {
    width: 100%;
}