* {
    box-sizing: border-box;
}
:root {
    font-family: 'Exo 2', 'Segoe UI Variable Display', 'Segoe UI', sans-serif;
    font-size: 15px;
    color: white;
    overflow: hidden;
}
body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: #000000;
    background-image: linear-gradient(90deg, #003311, #001122);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    overflow: auto;
    perspective: 1000px;
}
body.loading {
    overflow: hidden;
    user-select: none;
}
body > .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #000000;
    opacity: 0;
    transition: opacity .4s;
}
body.loading > .background {
    opacity: 1;
}
h1, h2 {
    margin: 0;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
p {
    margin: .5em 0;
}
p:first-child {margin-top: unset;}
p:last-child {margin-bottom: unset;}
.loading-text {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 100px;
    margin-top: -50px;
    margin-left: -100px;
    z-index: -1;
    opacity: 0;
    transform: scale(.9);
    transition: all .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: 300;
    color: #ffffff44;
    user-select: none;
}
body.loading .loading-text {
    opacity: 1;
    transform: unset;
    z-index: 999999;
}
body.loading .loading-text > span {
    animation: loading-text__dots 1.4s infinite;
}
body.loading .loading-text > span:nth-child(2)
    {animation-delay: .2s;}
body.loading .loading-text > span:nth-child(3)
    {animation-delay: .4s;}
body.loading .loading-text > span:nth-child(4)
    {animation-delay: .6s;}
body.loading .loading-text > span:nth-child(5)
    {animation-delay: .8s;}
body.loading .loading-text > span:nth-child(6)
    {animation-delay: 1s;}
body.loading .loading-text > span:nth-child(7)
    {animation-delay: 1.2s;}
@keyframes loading-text__dots {50% {opacity: 0;}}